<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys获得数据库自增主键 默认是false-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列名 默认是true 写出来是让大家记住有这个属性
            select name as title form table
        -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换： table(create_time) entity(CreateTime) 自己在sql 的时候就不用写了，才属性会对应起来-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>